@model IEnumerable<WeFramework.Web.Models.Users.RoleModel>

@{
    ViewBag.Title = "角色管理";
}

<section class="content-header">
    <h1>
        角色管理<small>@T("List")</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @using (Html.BeginForm(null, null, FormMethod.Get))
                    {
                        <div class="btn-toolbar" role="toolbar" aria-label="btn-toolbar">
                            <div class="btn-group" role="group" aria-label="btn-group">
                                <a class="btn btn-default" aria-label="Left Align" href="@Url.Action("Create")">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 创建
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>相关操作</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td>
                                    @Html.ActionLink(T("Edit"), "Edit", new { id = item.ID }) |
                                    <a href="#" data-toggle="modal" data-target="#deleteConfirmModal" data-id="@item.ID">删除</a> |
                                    @Html.ActionLink("授权", "Authorize", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@using (Html.BeginForm("Delete", ViewContext.RouteData.GetRequiredString("controller"), null, FormMethod.Post, new { id = "notificationForm" }))
{
    @Html.Hidden("id", null, new { id = "notificationFormItemId" })
}
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">删除确认</h4>
            </div>
            <div class="modal-body" id="notificationPreview">
                <p>确认要删除该数据吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times"></i> 取消</button>
                <button type="button" class="btn btn-danger" id="deleteConfirm"><i class="fa fa-check"></i> 确定</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#deleteConfirmModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            $("#notificationFormItemId").val(button.data('id'));
        })

        $("#deleteConfirmModal").on('click', "#deleteConfirm", function () {
            $("#notificationForm").submit();
        });
    </script>
}