@model  WeFramework.Core.Paging.IPagedList<WeFramework.Web.Models.Logging.LogModel>
@{
    ViewBag.Title = "系统日志";
}
@section Styles{
    @Styles.Render("~/styles/bootstrap-datetimepicker")
    <style>
        #pager table th, #pager table td {
            vertical-align: middle;
            font-size: 12px;
            white-space: nowrap;
        }
    </style>
}
<section class="content-header">
    <h1>
        日志<small>@T("List")</small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    @using (Ajax.BeginForm("Index", null, new AjaxOptions { UpdateTargetId = "pager" }, new { @class = "search form-inline" }))
                    {
                        <div class="btn-group" role="group" aria-label="btn-group">
                            <button id="check-all" type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span> <span>全选</span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" id="delete">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
                            </button>
                        </div>
                        <div class="pull-right">
                            <div class="input-group">
                                @Html.DropDownList("severity", null, "All", new { @class = "form-control" })
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                @Html.TextBox("startDate", "", new { @class = "form-control" })
                            </div>
                            -
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                @Html.TextBox("endDate", "", new { @class = "form-control" })
                            </div>
                            <button class="btn btn-default" autofocus type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
                            </button>
                        </div>
                    }
                </div>
                <div class="box-body">
                    <form action="@Url.Action("delete")" method="post" id="pager">
                        @Html.Partial("LogListPartial")
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="//cdn.bootcss.com/moment.js/2.13.0/moment.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.13.0/locale/zh-cn.js"></script>
    @Scripts.Render("~/scripts/bootstrap-datetimepicker")
    @Scripts.Render("~/scripts/jquery-unobtrusive-ajax-paging")
    <script>
        $('#startDate,#endDate').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
        $(".content-wrapper").on("click", "#check-all", function () {
            var checkBoxs = $('input:checkbox[name=check]');
            var checkAll = $(this).children().last();
            if (checkAll.text() == "全选") {
                checkBoxs.prop('checked', true);
                $(this).children().first().removeClass("glyphicon-unchecked").addClass("glyphicon-checked");
                $(this).children().last().text("取消");
            }
            else {
                checkBoxs.prop('checked', false);
                $(this).children().first().removeClass("glyphicon-checked").addClass("glyphicon-unchecked");
                $(this).children().last().text("全选");
            }
        })

        $("#delete").click(function () {
            bootbox.confirm({
                title: "操作提示",
                message: "确认删除选中的记录？",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> 取消'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> 确认'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $("#pager").submit();
                    }
                }
            });
        });
    </script>
}