@model  WeFramework.Core.Paging.IPagedList<WeFramework.Web.Models.Logging.LogModel>
@using System.Diagnostics

<table class="table table-bordered table-hover">
    <tr>
        <th>
            选择
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Severity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th>相关操作</th>
    </tr>
    @foreach (var item in Model)
    {
        string severityClassName = "label-primary";
        var traceEventType = (TraceEventType)Enum.Parse(typeof(TraceEventType), item.Severity);
        if (traceEventType == TraceEventType.Warning)
        {
            severityClassName = "label-warning";
        }
        if (traceEventType==TraceEventType.Critical|| traceEventType== TraceEventType.Error)
        {
            severityClassName = "label-danger";
        }
        <tr>
            <td>
                <input type="checkbox" id="check" name="check" value="@item.ID" />
            </td>
            <td>
                @Html.DisplayFor(model => item.ID)
            </td>
            <td>
                <span class="label @severityClassName">@Html.DisplayFor(model => item.Severity)</span>
            </td>
            <td style="white-space:normal">
                @Html.DisplayFor(model => item.Message)
            </td>
            <td>
                @Html.DisplayFor(model => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(model => item.Categories)
            </td>
            <td>
                @Html.DisplayFor(model => item.MachineName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Timestamp)
            </td>
            <td>
                @Html.ActionLink("详细", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.AjaxPager(Model, page => Url.Action("Index", new { page }), new AjaxOptions { UpdateTargetId = "pager" })
